# ============== #
# data generated #
# ============== #
data/
seq2seq/data
seq2seq2/data
seq2seq2/out

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ================ #
# python generated #
# ================ #
__pycache__/
.pyc